<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Previous Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer, Internship</h3>
                            <div class="time">Jul 2013 - Sep 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">SK Planet, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Built a JAVA program using UI automator. <br>- Assisted in collecting data for how to test in Android application.
                        <br>- Participated an instant team as an engineer.<br>- Experienced whole process of application from planning application service to creating prototype.
                       <br>- Created Android application prototype</p>

						<p><span class="project-title">UIAutomator program</span><br>- <span class="project-tagline">Solo work. JAVA, UIAutomator. <br> It is enable to auto user test for all applications that SK Planet manages.</span></p> 
                 
                    </div><!--//details-->
                </div><!--//item-->
                <br>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Quality Assurance Engineer, Internship</h3>
                            <div class="time">Jul 2009 - Feb 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">AhnLab, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Reported bugs and improvement points found during black-box testing to reflect security software product.<br>- Award for BUG-KING for finding the most errors and bugs of new security software product.<br>- Completed test case lists and created user manual for new security software product.<br>- Developed spontaneously Auto-it script prorgram that assists to test</p>

						<p>
                         <span class="project-title">Auto-it program</a></span><br>- <span class="project-tagline">Solo work. Auto-it Script <br> It assists to test security program and is able to install viruses, generate imaginary network attack, run keylogger and access web page that can infect computer in carious browser.</span>
						</p>
              
                   
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//skills-section-->