<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Android Developer</h2>
<div class="summary">
    <p>A brilliant Android application developer with 3+ years of software development experience in the working field. Have a strong mobile application development background with solid understanding of the full mobile development life cycle. Experienced open source library such as butterknife, realm, .. Dedicated to continuously discovering, evaluating, and implementing new techonogies to maximize development efficiency and self-improvement of knowledge of the field. <a href="https://kimminkiki.github.io/ko/" target="_blank">(Korean version)</a></p>
    <!--<a href="#" target="_blank">download this free resume/CV template here</a>. -->
</div><!--//summary-->
</section><!--//section-->