<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Android Developer</h3>
                            <div class="time">Dec 2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">CJ OliveNetworks, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Develop and manage Android applications<br>- Release on google Play per month with amendments<br>Acquire Android application programming basic skills</p>  
                        <p>- Participated Mobile projects as an Android developer<br> CJ TMS, Mobile SDK, CJWellness</p>

                        <p>- Take charge of Google Analytics. <br> Guide all employees who are Android developer on how to set Google Analytics on Android Application</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->