<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Android Developer</h3>
                            <div class="time">Dec 2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">CJ OliveNetworks, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Develop and manage Android applications<br>- Release on google Play per month with amendments<br>Acquire Android application programming basic skills</p>  
                        <p>- Participated Mobile projects as an Android developer<br> CJ TMS, Mobile SDK, CJWellness</p>

                        <p>- Take charge of Google Analytics. <br> Guide all employees who are Android developer on how to set Google Analytics on Android Application</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer, Internship</h3>
                            <div class="time">Jul 2013 - Sep 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">SK Planet, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Built a JAVA program using UI automator. <br>- Assisted in collecting data for how to test in Android application.
                        <br>- Participated an instant team as an engineer.<br>- Experienced whole process of application form planning application service.
                        - Created Android application prototype</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Quality Assurance Engineer, Internship</h3>
                            <div class="time">Jul 2009 - Feb 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">AhnLab, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Reported bugs and improvement points found during black-box testing to reflect security software product.<br>- Award for BUG-KING for finding the most errors and bugs of new security software product.<br>- Completed test case lists and created user manual for new security software product.<br>- Developed spontaneously Auto-it script prorgram that assists to test</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->