<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Android Developer</h3>
                            <div class="time">Dec 2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">CJ OliveNetworks, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Develop and manage Android application, CJ Korea Express<br> Acquire Android application programming basic skills such as Fragment, ListView, GCM, BCR.
                        <br>-Release on google Play per month with amendments<br></p>  

                        <p>- Develop and manage Web application, E&M STORY, E&M AIM<br> CJ TMS, Mobile SDK, CJWellness</p>

                        <p>- Participated mobile projects as an Android developer, CJ TMS, Mobile SDK, CJWellness</p>


                        <p>- Take charge of Google Analytics. <br> Guide all employees who are Android developer on how to set Google Analytics on Android Application</p>

                        <p>- Mobile Application Accessibility. <br> Completed education of mobile application content accessibility guide, assessment and production techniques from NIA(National Information Society Agency)</p>

                    </div><!--//details-->
                     
                </div><!--//item-->
                
            </section><!--//section-->