<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Previous Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer, 인턴</h3>
                            <div class="time">2013년 7월 - 2013년 9월</div>
                        </div><!--//upper-row-->
                        <div class="company">SK Planet, 서울</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- UIAutomater를 활용한 자바프로그램 개발<br>- 안드로이드 앱 테스트를 위한 방법론 자료 수집 및 .
                        <br>- 엔지니어 역할로 소규모 팀 프로젝트에 참여함.<br>- 앱서비스 개발의 전반적인 과정을 .
                       <br>- 안드로이드 앱 프로토타입 개발.</p>

						<p><span class="project-title">UIAutomator program</span><br>- <span class="project-tagline">개인 작업. 사용기술 : JAVA, UIAutomator. <br>SK플래닛에서 운영하는 모든 앱을 자동테스트 하는 프로그램. 사용자테스트를 함으로써, 앱의 실행 속도 측정 및 오류 탐지가 가능함.</span></p> 
                 
                    </div><!--//details-->
                </div><!--//item-->
                <br>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">품질보증 엔지니어(Quality Assurance Engineer), 인턴</h3>
                            <div class="time">2009년 7월 - 2010년 2월</div>
                        </div><!--//upper-row-->
                        <div class="company">AhnLab, 서울</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- 보안소프트웨어 제품에 대해 블랙박스 테스팅을 하고 버그나 개선사항들을 개발팀에 리포트 하는 업무를 담당함<br>- 블랙박스 테스팅을 도울 수 있는 Auto-it script prorgram을 자발적으로 개발하여 팀내에 공유함<br>- 신규 보안 소프트웨어 제품의 테스트케이스 목록과 사용자 메뉴얼 작성<br>- 버그킹 어워드 수상 : 신규 프로젝트에 참여하여, 가장 많은 버그를 발견/리포팅함</p>

						<p>
                         <span class="project-title">Auto-it program</a></span><br>- <span class="project-tagline">- 개인작업. 사용기술 : Auto-it Script <br> 보안프로그램 테스트를 효율적으로 할 수 있도록 도움. 바이러스 설치, 가상 네트워크 공격, 키로거 실행, 감염된 웹브라우저 접근 등</span>
						</p>
              
                   
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//skills-section-->