<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Android Developer</h2>
<div class="summary">
    <p>안녕하세요, 재기발랄한 4년차 안드로이드 개발자 김민기입니다. 현재 안드로이드 네이티브 앱과 웹앱 운영/개발 업무를 담당하고 있으며, 기본적인 안드로이드 Life cycle, 서버통신, 오픈소스 활용 경험, Google Analytics 등의 역량을 보유하고 있습니다. 스스로 도전하고 성취하기를 좋아하여, 지속적으로 새로운 기술들을 경험하고 습득해 효율적인 코드를 작성하는 개발자로 성장하고 싶습니다. </p>
    <!--<a href="#" target="_blank">download this free resume/CV template here</a>. -->
</div><!--//summary-->
</section><!--//section-->
