<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">안드로이드 개발자</h3>
                            <div class="time">2013년 12월 - 현재</div>
                        </div><!--//upper-row-->
                        <div class="company">CJ올리브네트웍스, 서울</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>- 안드로이드 개발/운영 담당</b>
                        <br>- 운영 앱 : CJ대한통운, E&M AIM, E&M STORY
                        <br>- 안드로이드, 서버통신, GCM, SQLite 등 기술 보유
                        <br>- 매 달 CJ대한통운 앱 개선사항을 반영하여 구글플레이에 업로드<br> </p> 
                    
                        <p><b>- 팀 프로젝트 안드로이드 개발 참여</b>
                        <br>- 참여 앱 : TMS, Mobile SDK Library, CJWellness
                        <br>- OKhttp, Realm, Butterknife 등 다양한 오픈소스 라이브러리 사용</p> 

                        <p><b>- Google Analytics 기술담당</b>
                        <br>- Google Analytics 적용 방법 가이드
                        <br>- 사내 안드로이드 개발자들의 Google Analytics 설정관련 문의 응대
                        </p>

                    </div><!--//details-->
                     
                </div><!--//item-->
                
            </section><!--//section-->