<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">안드로이드 개발자</h3>
                            <div class="time">2013년 12월 - 현재</div>
                        </div><!--//upper-row-->
                        <div class="company">CJ올리브네트웍스, 서울</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>- 안드로이드 개발/운영 담당</b>
                        <br>- 운영 앱 : CJ대한통운, E&M AIM, E&M AIM
                        <br>- 안드로이드, 서버통신, GCM, SQLite 등 기술 보유
                        <br>- 매 달 CJ대한통운 앱 개선사항을 반영하여 구글플레이에 업로드<br> </p> 
                        
                        <p><b>- 안드로이드 팀프로젝트 참여</b>
                        <br>- 팀프로젝트 : TMS, Mobile SDK Library, CJWellness
                        <br>- OKhttp, Realm, Butterknife 등 다양한 오픈소스 라이브러리 사용</p> 


                        <p><b>- Google Analytics 기술담당</b>
                        <br>- 사내 안드로이드 개발자들에게 Google Analytics설정 및 적용 방법을 가이드함
                        </p>

                        <p><b>- 모바일 접근성 담당</b><br>- 한국정보화진흥원에서 주최한 모바일 접근성 전문교육 수료. <br>적용방법 및 평가가이드 습득</p>

                    </div><!--//details-->
                     
                </div><!--//item-->
                
            </section><!--//section-->