<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">  
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://play.google.com/store/apps/details?id=com.cjkoreaexpress&hl=ko" target="_blank">CJ KoreaExpress</a></span>
                    <span class="project-tagline"> <br>CJ대한통운 앱은 택배예약과 택배상품 추적을 제공하는 서비스. <br>
                    다운로드 수 1,200,000 이상<br><br>- 사용기술 : Android, Fabric, GCM, BCR <br>
                    <img src ="assets/images/cjkoreaexpress01.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress02.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress03.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress04.png" width="120" height="200">
                <br></div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">E&M AIM</a></span>
                    <span class="project-tagline"> <br>E&M AIM 광고 작업 관련 웹앱. <br>
                    <br> - 사용기술 : Android, GCM <br> 
                    <img src ="assets/images/aim01.png" width="120" height="200">
                    <img src ="assets/images/aim02.png" width="120" height="200">
                <br></div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">E&M AIM</a></span>
                    <span class="project-tagline"> <br>E&M 프로그램 및 광고 안내 웹앱. <br>
                    <br> - 사용기술 : Android, GCM <br> 
                    <img src ="assets/images/story01.png" width="120" height="200">
                    <img src ="assets/images/story02.png" width="120" height="200">
                <br></div><!--//item-->
                 <div class="item">
                    <span class="project-title"><a href="#" target="_blank">TMS</a></span><span class="project-tagline"><br>CJ대한통운 택배직원용 배송 앱<br>- 회사 팀 프로젝트<br> - 사용기술 : Android <br> - 맡은 부분 : 로그인 페이지, 설정 페이지<br>
                    <img src ="assets/images/tms01.png" width="120" height="200">
                    <img src ="assets/images/tms03.png" width="120" height="200"></span>
                <br></div><!--//item-->
              
               
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Mobile SDK Library</a></span>
                    <span class="project-tagline"><br>사내 모바일 라이브러리. 모바일 프로젝트 사용 용도로 개발됨<br>사내 기술혁신 상 수상<br>- 회사 팀 프로젝트<br>- 사용기술 : Android, Realm, Glide, Naver Map API, Google Map API. <br>- 맡은 부분 : Database Helper, Image Manager, Map Helper<br></span>
                <br></div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">CJWellness</a></span>
                     <span class="project-tagline"><br>런닝머신에 탑재된 안드로이드 어플리케이션<br>- 회사 팀 프로젝트.<br>- 사용기술 : Android, HelloChart, JSON parsing and dynamic xml layout design<br>- 맡은 부분 : 메인화면에 들어가는 움직이는 라인차트 그래프 개발. <br>- 운동 중 발생하는 칼로리, 속도, 등을 보여주는 동적 레이아웃 화면 개발.<br></span>
                <br></div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Weather</a></span>
                    <span class="project-tagline"><br>간단하게 검색하는 날씨검색 앱<br>- 개인 작업.<br> - 사용기술 : Android, OKhttp, Butterknife, Firebase Storage, apixu weather API </span>
                <br></div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Colorgram</a></span> <span class="project-tagline"><br>Record your happiness everyday.<br> - Solo work. Android, Realm, Butterknife. </span>
                </div><!--//item--> 

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Crash Reporter</a></span> <span class="project-tagline"><br>Crash Reporter는 운영 앱들에 대해서 발생하는 에러/오류 메시지를 리포팅하는 서비스. <br>해당 내용을 담당자에게 이메일 발송 가능, 리포팅 주기를 설정할 수 있음<br> - 개인작업<br> - 사용기술 : Android, UrQA<br>
                    <video src = "assets/video/reporter.mp4" width="240" height="200"></span>
                <br></div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">ONESTER MAKER</a></span> <span class="project-tagline"><br>원스터의 레벨을 조절할 수 있는 운영 관리자용 앱. <br>사용자 아이디 조회 후, 서버통신을 통해 해당 원스터의 레벨을 조절할 수 있음.<br>- 개인 작업<br>- 사용기술 : Android, http-client Networking, JSON <br>
                    <video src = "assets/video/onester.mp4" width="240" height="200"> </span>
                <br></div><!--//item-->

            </section><!--//section-->