<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="name">{% if site.name %}{{site.name}}{% else %}Alan Doe{% endif %}</h1>
                <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Full Stack Developer{% endif %}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   
                   {% if site.email %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
                    {% else %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:kimminkiki@gmail.com">kimminkiki@gmail.com</a></li>
                    {% endif %}
                    
                    {% if site.phone %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
                    {% else %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:010 9496 3213">010 9496 3213</a></li>
                    {% endif %}
                    
                    {% if site.website %}
                    <li class="website"><i class="fa fa-globe"></i><a href="http://{{site.website}}" target="_blank">{{site.website}}</a></li>
                    {% else %}
                    <li class="website"><i class="fa fa-globe"></i><a href="http://kimminkiki.blogspot.kr/" target="_blank">kimminkiki.blogspot.kr/</a></li>
                    {% endif %}
                    
                    {% if site.linkedin %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank">linkedin.com/in/{{site.linkedin}}</a></li>
                    {% else %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/minki-kim-15532397b" target="_blank">linkedin.com/in/minki-kim-15532397b</a></li>
                    {% endif %}
                    
                    {% if site.github %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">github.com/{{site.github}}</a></li>
                    {% else %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/kimminkiki" target="_blank">github.com/kimminkiki</a></li>
                    {% endif %}
                    
                    
                </ul>
            </div><!--//contact-container    -->
           {% include ko_education.html %}
           {% include ko_language.html %}
           {% include ko_skills.html %}
            
        </div><!--//sidebar-wrapper-->
