<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">  
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://play.google.com/store/apps/details?id=com.cjkoreaexpress&hl=ko" target="_blank">CJ KoreaExpress</a></span>
                    <span class="project-tagline"> <br>It is CJ Korea Express that users can search parcel's location of any company in Korea.<br>
                    Downloaded by more than 1,200,000 users<br><br> - Skills : Android, Fabric, GCM, BCR <br>
                    <img src ="assets/images/cjkoreaexpress01.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress02.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress03.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress04.png" width="120" height="200">
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">E&M AIM, E&M STORY</a></span>
                    <span class="project-tagline"> <br>It is Web Applications.<br>
                    <br> - Skills : Android, Fabric, GCM, BCR <br> 
                </div><!--//item-->

                 <div class="item">
                    <span class="project-title"><a href="#" target="_blank">TMS</a></span><span class="project-tagline"><br> - Team Work<br> - Skills : Android <br> - Created login, setting, listviews <br>
                    <img src ="assets/images/tms01.png" width="120" height="200">
                    <img src ="assets/images/tms02.png" width="120" height="200">
                    <img src ="assets/images/tms03.png" width="120" height="200"></span>
                </div><!--//item-->
              
               
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Mobile SDK Library</a></span>
                    <span class="project-tagline"><br>It is Mobile Library for using in mobile projects.<br>Awarded Technical Innovation in the company<br>- Team Work<br>- Skills : Android, Realm, Glide, Naver Map API, Google Map API. <br>- Developed Database Helper, Image Manager and Map Helper</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">CJWellness</a></span>
                     <span class="project-tagline"><br>It is a treadmill Android application.<br> - Team work.<br>Skills - Android, HelloChart, JSON parsing and dynamic xml layout design<br>- Created animated line chart graph on main screen<br>- Developed dynamic layouts that outputs calories that user is burning, graduents and speedneed to get <br></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Weather</a></span>
                    <span class="project-tagline"><br>Simple weather application.<br> - Solo work.<br> - Skills : Android, OKhttp, Butterknife, Firebase Storage, apixu weather API </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Colorgram</a></span> <span class="project-tagline"><br> Record your happiness everyday.<br> - Solo work. Android, Realm, Butterknife. </span>
                </div><!--//item--> 

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Crash Reporter</a></span> <span class="project-tagline"><br>It is Crash Reporter that enable to get all error messages from other applications that the company managed.<br> - Solo work<br> - Skills : Android, UrQA, http-client networking, JSON parsing<br>
                    <video src = "assets/video/reporter.mp4" width="240" height="200"></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">ONESTER MAKER</a></span> <span class="project-tagline"><br>It is ONESTER MAKER that can make user's onster level up to solve VOC about CJ ONSTER level.<br> - Solo work<br> - Skills : Android, layout animation, http-client Networking, JasonParsing <br>
                    <video src = "assets/video/onester.mp4" width="240" height="200"> </span>
                </div><!--//item-->

            </section><!--//section-->