<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Team Work</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://play.google.com/store/apps/details?id=com.cjkoreaexpress&hl=ko" target="_blank">CJ KoreaExpress</a></span> - <span class="project-tagline">Develop and Management.<br>Skills - Android, GCM, BCR 
                    <br>It is CJ Korea Express that users can search parcel's location of any company in Korea.<br>
                    Downloaded by more than 1,200,000 users
                    <img src ="assets/images/cjkoreaexpress01.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress02.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress03.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress04.png" width="120" height="200"></span>
                </div><!--//item-->
                 <div class="item">
                    <span class="project-title"><a href="#" target="_blank">TMS</a></span> - <span class="project-tagline">Team Work.<br>Skills - Android. <br> TMS serves <br>
                    <img src ="assets/images/tms01.png" width="120" height="200">
                    <img src ="assets/images/tms02.png" width="120" height="200">
                    <img src ="assets/images/tms03.png" width="120" height="200"></span>
                </div><!--//item-->
              
               
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Mobile SDK</a></span> - <span class="project-tagline">Team Work.<br>Skills - Android, Realm, Glide, Naver Map API, Google Map API. <br>Developed Database Helper, Image Manager and Map Helper.<br>Award Technical-Innovation in the company</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">CJWellness</a></span> - <span class="project-tagline">Team work.<br>Skills - Android, HelloChart, JSON parsing and dynamic xml layout design <br>It is a treadmill Android application.<br>Created animated line chart graph on main screen<br>Developed dynamic layouts that outputs calories that user is burning, graduents and speedneed to get </span>
                </div><!--//item-->
              <div class="item">
                    <span class="project-title"><a href="#" target="_blank">CJ ONE POINT MAKER</a></span> - <span class="project-tagline">Solo work.<br>Skills - Android, Server Communication. <br>It is a treadmill Android application. Created animated line chart graph on main screen and developed running screen layouts that displays current </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Crash Report</a></span> - <span class="project-tagline">Solo work.<br>Skills - Android, UrQA, http-client networking, JSON parsing<br>It is Crash Reporter that managers can get all error messages from other applications that the company managed.</span>
                </div><!--//item-->


                   <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Weather</a></span> - <span class="project-tagline">Solo work.<br>Skills -  Android, OKhttp, Butterknife, Firebase Storage <br> Simple weather application. </span>
                </div><!--//item--> <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Colorgram</a></span> - <span class="project-tagline">Solo work. Android, Realm, Butterknife. <br> Record your happiness everyday.  </span>
                </div><!--//item--> 
            </section><!--//section-->