<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">CJ KoreaExpress</a></span> - <span class="project-tagline">Manager. Android. 
                    <br> A responsive website template designed to help web developers/designers market their services.<br>
                    <img src ="assets/images/cjkoreaexpress01.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress02.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress03.png" width="120" height="200">
                    <img src ="assets/images/cjkoreaexpress04.png" width="120" height="200"></span>
                </div><!--//item-->
                 <div class="item">
                    <span class="project-title"><a href="#" target="_blank">TMS</a></span> - <span class="project-tagline">Team Work. Android. <br> Participated Mobile SDK project and Developed Image Manager and Database Helper.<br>
                    <img src ="assets/images/tms01.png" width="120" height="200">
                    <img src ="assets/images/tms02.png" width="120" height="200">
                    <img src ="assets/images/tms03.png" width="120" height="200"></span>
                </div><!--//item-->
                 <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Weather</a></span> - <span class="project-tagline">Solo work. Android, OKhttp, Butterknife. <br> Simple weather application. </span>
                </div><!--//item--> <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Colorgram</a></span> - <span class="project-tagline">Solo work. Android, Realm, Butterknife. <br> Record your happiness everyday.  </span>
                </div><!--//item--> 
               
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Mobile SDK</a></span> - <span class="project-tagline">Team Work. Android, Realm, Glide. <br> Participated Mobile SDK project and Developed Image Manager and Database Helper.<br>Award Technical-Innovation</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">CJWellness</a></span> - <span class="project-tagline">Team work. Android, HelloChart API. <br>It is a treadmill Android application. Created animated line chart graph on main screen and developed running screen layouts that displays current </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">UIAutomator test program</a></span> - <span class="project-tagline">Solo work. JAVA, UIAutomator. <br> It is enable to auto user test for all applications that SK Planet manages.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Auto-it program</a></span> - <span class="project-tagline">Solo work. Auto-it Script <br> It assists to test security program and is able to install viruses, generate imaginary network attack, run keylogger and access web page that can infect computer in carious browser.</span>
                </div><!--//item-->
            </section><!--//section-->