<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>경력</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Android 개발자</h3>
                            <div class="time">2013년 12월 - 현재</div>
                        </div><!--//upper-row-->
                        <div class="company">CJ올리브네트웍스, 서울</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- 안드로이드 네이티브앱과 웹앱 개발운영 담당
                        <br>- 모바일 프로젝트에 참여하여 안드로이드 개발담당
                        <br>- Acquired Android application programming basic skills such as FragmentTransaction, ListView, GCM, BCR, SQLite.
                        <br>- OKhttp, Realm, Butterknife 와 같은 오픈소스 라이브러리 사용경험 
                        <br>- 매 달 구글플레이에 CJ대한통운 앱 개선사항을 반영하여 업로드<br></p>  


                        <p>- Google Analytics 담당
                        <br>- 사내 안드로이드 개발자들에게 GA 설정 및 적용 방법을 가이드함
                        </p>

                        <p>- 모바일 접근성 담당<br>- 한국정보화진흥원에서 주최한 접근성 교육 수료
                        Completed education of mobile application content accessibility guide, assessment and production techniques from NIA(National Information Society Agency).</p>

                    </div><!--//details-->
                     
                </div><!--//item-->
                
            </section><!--//section-->