<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Android Developer</h3>
                            <div class="time">Dec 2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">CJ OliveNetworks, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>- Develop and Maintain Android Native app. and Web app.
                        <br>- Participated mobile projects as an Android developer.
                        <br>- Acquired Android application programming basic skills such as FragmentTransaction, ListView, GCM, BCR, SQLite.
                        <br>- Open API such as OKhttp, Realm, Butterknife. 
                        <br>- Released on google Play per month with amendments.<br></p>  


                        <p>- Took charge of Google Analytics<br>- Guide all employees who are Android developer on how to set Google Analytics on Android Application.</p>

                        <p>- Undertook Mobile Application Accessibility<br>- Completed education of mobile application content accessibility guide, assessment and production techniques from NIA(National Information Society Agency).</p>

                    </div><!--//details-->
                     
                </div><!--//item-->
                
            </section><!--//section-->